.notification {
	position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 7px 10px;
	border-radius: 5px;
	background-color: rgba(47, 46, 46, 0.85);
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	opacity: 0;
	transition: opacity .5s ease;

	&-in {
		opacity: 1;
	}
}
